<div>
    <form (ngSubmit)="Login(f)" #f="ngForm">
        <label for="lname">User Name</label>
        <input type="text" id="user_Name" name="userName" placeholder="Your User name.." ngModel>
        <label for="lname">Password</label>
        <input type="password" id="Password" name="password" placeholder="Your Password.." ngModel>
        <!-- <label for="country">Country</label>
        <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option> -->
        <!-- </select> -->

        <input type="submit" value="Submit">
    </form>
</div>