<div>
    <form (ngSubmit)="AddEmploye(f)" #f="ngForm">
        <label for="lname">User Name</label>
        <input type="text" id="userName" name="userName" placeholder="Your User name.." ngModel>
        <label for="fname">Email</label>

        <input type="text" id="Email" name="email" placeholder="Your Email.." ngModel>
        <label for="lname">Password</label>
        <input type="password" id="Password" name="password" placeholder="Your Password.." ngModel>
        <label for="lname">Confirm Password</label>
        <input type="password" id="RPassword" name="rpassword" placeholder="Your RPassword.." ngModel>
        <label for="country">Role</label>
        <select id="country" name="id_role" ngModel>
        <option value="1">Super Admin</option>
        <option value="2">Simple User</option>
         </select>
        <label for="country">Departement</label>
        <select id="country" name="id_Department" ngModel>
        <option value="1">RH</option>
        <option value="2">IT</option>
         </select>

        <input type="submit" value="Submit">
    </form>
</div>